*{
    user-select: none;
}
.main{
    height: 100%;
    width: 100%;
    background-color: rgb(25, 25, 25);
}
.init{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 4rem;
}
.p{
    padding-top: 1rem;
    font-size: 1.5em;
    color: aliceblue;
    text-shadow:10px  10px 10px rgb(160, 160, 160);
    animation: glow 4s ease infinite;
}
@keyframes glow{
   0%, 100%{
    text-shadow: rgb(170, 170, 170);
    transform: rotateY(90deg);
   } 
   10%, 90%{
    text-shadow: none;
    transform: rotateY(0deg);
 
   }
}
.img{
 border-radius: 90px;
width: 100vh;

}
.upcomming{
    color: aliceblue;
    font-size: 25px;
    animation: glow2 5s ease-in infinite;
    position:relative;
}
@keyframes glow2{
    0%, 100%{
        text-shadow: 0px 6px 5px;
        color: rgb(0, 255, 221);
        transform: rotateY(9deg);
    }
    10%, 90%{
        text-shadow: none;
        color: aliceblue;
        transform: rotateY(0deg);
    }
}
.container_card{
    padding-left: 2rem;
}
.card{
    background-color: rgb(26, 49, 57);
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
   margin-top: 2rem;
   margin-bottom: 2rem;
   border-radius: 20px;
   

}

.title{
    color: aliceblue;
    text-align: center;
}
.img1{
    border-radius: 50px;
}
.overview{
    color: aliceblue;
    text-align: center;
}