*{
    user-select: none;
}
.main{
    height: 100vh;
    width: 100%;
    background-color: rgb(25, 25, 25);
}
.init{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 4rem;
}
.p{
    padding-top: 1rem;
    font-size: 1.5em;
    color: aliceblue;
    text-shadow:10px  10px 10px rgb(160, 160, 160);
    animation: glow 4s ease infinite;
}
@keyframes glow{
   0%, 100%{
    text-shadow: rgb(170, 170, 170);
    transform: rotateY(90deg);
   } 
   10%, 90%{
    text-shadow: none;
    transform: rotateY(0deg);
 
   }
}
.img{
 border-radius: 10px;


}