*{
    user-select: none;
}.main{
    background-color:rgb(8, 0, 48) ;
    width: 100%;
    height: 100%;
}
.h2{
    padding-top: 5rem;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-self: center;
    padding-left: 2rem;
    animation: glow 3s ease-in infinite ;
    font-size: 2.5rem;
}
@keyframes glow{
    0%, 100%{
        text-shadow: 0px 0px 10px;
        color:rgb(255, 253, 133) ;
    }
    10%, 90%{
        text-shadow: none;
        color: aliceblue ;
    }
}
.direction{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.card{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 21, 82);
    width: 100vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px blue;
    text-align: center;
}
.container_card{
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  width: 100vh;
}
.img{
    border-radius: 10px;
    width: 28%;
}
.p{
    color: aliceblue;
    font-size: 1.5rem;
}
.h22{

    padding-top: 5rem;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-self: center;
    padding-left: 2rem;
    animation: glow1 2s ease-in infinite ;
    width: 50vh;
    font-size: 2.5rem;
}
@keyframes glow1{
    0%, 100%{
        text-shadow: 0px 0px 10px;
        color:rgb(118, 0, 245) ;
    }
    10%, 90%{
        text-shadow: none;
        color: aliceblue ;
    }
}
@media (max-width:768px) {
    .main{
        width: 100vw;
    }
    .card{
        width: 90vw;
        height: 70vh;
        padding: 0;
    }
    .h2{
        font-size: 1.5rem;
        width: 90%;
    }
    .container_card{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .h22{
        padding: 0;
        font-size: 1.5rem;
        width: 100%;
    }
    .p{
        font-size: .9rem;
    }
    .img{
        width: 50vw;
        box-shadow: 0px 0px 10px;
        
    }
}
@media (min-width:375px) {
    .main{
        width: 100%;
    }
    .h2{
        font-size: 1rem;
        padding-left: 0;
        
    }
    .card{
        width: 70vw;
        height: 90vh;
    }
    .container_card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        width:0;
    }
    .h22{
        font-size: 1.2rem;
        padding: 0;
        width: 100%;
    }
    .p{
        font-size: .9rem;
    }
    .img{
        width: 50vw;
        box-shadow: 0px 0px 15px;
    }

}


